@font-face {
  font-family: "iconfont"; /* Project id 2534158 */
  src: url('iconfont.woff2?t=1629427144357') format('woff2'),
       url('iconfont.woff?t=1629427144357') format('woff'),
       url('iconfont.ttf?t=1629427144357') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconshangchuan:before {
  content: "\e613";
}

.iconbianji:before {
  content: "\e627";
}

.iconshanchu:before {
  content: "\e605";
}

.iconGroup-:before {
  content: "\e69f";
}

.iconyinyue:before {
  content: "\e680";
}

